*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* Använder root varaibler för att göra det lättare att hitta i koden där jag kan använda mig av "var" */ 
:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1f2641; 
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-bg3: #800000; 
    --color-bg4: #4b0082; 

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%; 

    --transition: all 400ms ease; 

}

/* 
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem
*/ 



body {
    font-family:'Montserrat', sans-serif;       /* Google Fonts använda */ 
    line-height: 1.7;
    color: var(--color-white);        /* Färgen för "Välkommen till denna sida" */ 
    background: var(--color-bg1); 
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto; 
}

section {
    padding: 0rem;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5 {
   line-height: 1.200;   

}

h1 {
    font-size: 2.4rem;             /* Ändrar storleken på alla h-ettor  */ 
}

h2 {
    font-size: 2rem;                /* Ändrar storleken på alla h-tvåor */ 
}

h3{
    font-size: 1.6rem;              /* Ändrar storleken på alla h-treor */  
}

h4 {
    font-size: 1.3rem;              /* Ändrar storleken på alla h-fyror */ 
}



a {
    color: var(--color-white); 
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem; 
    border: 1px solid transparent;
    font-weight: 500; 
}

.btn:hover {        /* Detta är en klass för hover om du vill ändra färg när man drar över länkarna så ändra "White" */ 
    background: transparent;
    color: var(--color-white);
    border-color:var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
    margin: 10px; 

}

/* ================== NAVBAR ====================== */ 
/* Navbar är själva listan */ 

nav {
    background: transparent;
    width: 100vw; 
    height: 5rem;   /* 5rem = 80px */
    position: fixed; 
    top: 0;  /* Detta gör så att nav alltid visas på toppen av hemsidan */ 
    z-index: 11; 
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

nav button {
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a {
    font-size: 0.9rem;
    transition: var(--transition); /* Detta kommandot ändrar tiden för hovern att ändra färg 400ms rätt snabbt men om man ändrar det till 3sec eller 10 betydligt långsammare. */ 
}

.nav_menu a:hover{
    color: var(--color-danger);     /* Ändrar färg när man drar över menyn */ 
}

/* Ändring av navbar färg när man scrollar */ 
.window-scroll {
    background: var(--color-bg2); 
    box-shadow: 0 10rem 20rem rgba(0, 0, 0, 0.3); 
}

/*=================== Header ====================== */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70hv;
    margin-bottom: 5rem; 
    margin: 5rem 0 15rem;       /* Detta hjälper till att göra så att flera sidor skapas 15rem gör mellanrummet mellan båda sidorna, svårt att förklara men viktigt att ha koll på. */
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr ;   /* 1fr 1fr bestämmer var bilden ska ligga på första sidan. Om man istället har */ 
    align-items: center;
    gap: 5rem; 
    height: 100%
}

.header_vänstersida p {
    margin: 1rem 0 2.4rem;
}

/*=================== kategorier ====================== */
.kategorier {
    background: var(--color-bg2);       /* Ändrar färg på backgrunden på kategorier */ 
    height: 34rem;  /* 29rem standard testar 34rem för tilfället*/ 
}

.kategorier h1 {
    line-height: 4;                     /* Hur nära catagorier ska vara Yeet */
    margin-bottom: 3rem;
}

.kategorier_container {
    display: grid;
    grid-template-columns: 40% 60%;   /* Om du ändrar columnen där det står 40% så ändrar du var kolumen visas om du höjer till 100% så är kolumn långt åt höger sidan och den andra 60% om du ändrar den så påverkar det hur stor kolumnen är. */
}

.kategorier_vänstersida {
    margin-right: 4rem;                 /* Detta ändrar om du vill ha texten på ett annat sätt. "Texten under Kategorier" Om du sänker numret till -10 för exempel så blir det mindre enterslag och texten lägger sig inne i kolumnen. Om du höjer till 100 så blir det mer enterslag och du läggs en bokstav på varje enterslag typ*/
}
.kategorier_vänstersida p {
    margin: -4rem 0 3rem;                /* Hur nära p ska vara Catagorier hade 1rem men tyckte det var för långt mellan rum bättre med -4 samma som line-height 4 är på kategorier h1 */
}

.kategorier_högersida {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);      /* Denna grid-template-columns gör 3 */
    gap: 1.2rem;
    margin: 5rem 0 30rem; 
}

/*=================== Kategori ====================== */

.kategori {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition); 
}

.kategori:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.kategori:nth-child(1) { /* Detta kommand specialiserar varje kolumn del "grid". Vi har sex stycken delar av kolumnen. Så om du vill ändra saker i varje kolumn så kan du skriva det i nth-child och sedan räkna vilken du vill ändra. */ 
    background: var(--color-bg1); /* Om du undrade hur man ändrar bakgrundsfärg för varje grid så ändrar man det här bara välj del du vill ändra och skriv in en annan färg om det inte passar. */ 
    background-image:url("JonasCool.jfif");
    background-repeat: no-repeat;
    background-size: 111%;
}

.kategori:nth-child(2) {
    background: var(--color-bg2);
    background-image:url("Network.jpg");
    background-repeat: no-repeat;
    background-size: 458%;
}

.kategori:nth-child(3) {
    background: var(--color-bg1);
    background-image:url("JonasCool.jfif");
    background-repeat: no-repeat;
    background-size: 111%;
}

.kategori:nth-child(4) {
    background: var(--color-bg2);
    background-image:url("Network.jpg");
    background-repeat: no-repeat;
    background-size: 458%;
}

.kategori:nth-child(5) {
    background: var(--color-bg1);
    background-image:url("JonasCool.jfif");
    background-repeat: no-repeat;
    background-size: 111%;
}

.kategori:nth-child(6) {
    background: var(--color-bg2);
    background-image:url("Network.jpg");
    background-repeat: no-repeat;
    background-size: 458%;
}

/*=================== SPAN ====================== */
/* Span färger vis del av texten */ 
span { 
    color: var(--color-danger); 
}

span1 {
    color: var(--color-danger); 
}

a:hover span {
    color: var(--color-white);
    font-size: 0.9rem;
    transition: var(--transition); 
}

/*=================== Historia ====================== */
.Historier {
    margin-top: 10rem;
    margin: 10rem 0 15rem; 
    line-height: 4;
}

.Historia_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.Historia {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent; 
    transition: var(--transition);
    gap: 2rem;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.Historia a:hover {
    background: transparent; 
    border-color: var(--color-primary);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.Histroia_info {
    padding: 2rem; 
}

.Historia_info p {
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/*=================== Faq ====================== */
.faqs {  
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5); 
    margin-bottom: 3rem; 
}

.faqs h2 {
    line-height: 4;
}

.faqs_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq {   
    padding: 2rem; 
    display: flex; 
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    cursor: pointer; 
    background-color: var(--color-bg2);
}

.faq h4 {
    line-height: 2.2;
    font-size: 1rem;  
}

.faq_icon {
    align-self: flex-start; 
    font-size: 1.2rem; 
}

.faq p {
    margin-top: 0.8rem; 
    display: none; 
}

.faq.open p {
    display: block; 
}

/*=================== Laget ====================== */
.Laget {
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5); 
    margin-bottom: 3rem;
}

.Laget h4 {
    line-height: 2.2; 
    font-size: 1rem; 
}

.Laget_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; 
}

.Medlem_Laget {          /* Ändrar allt förutom h2 */ 
    background: var(--color-bg4);
    padding: 2rem; 
    border: 1px solid transparent; 
    border-radius: 2rem; 
    transition: var(--transition);
    position: relative;
}

.Medlem_Laget a:hover {
    background: transparent;
    border-color: var(--color-success);
}

.Medlem_Laget-bild img {  /* Gör bilden svartvit med 0 */ 
    filter: saturate(0); 
}

.Medlem_Laget:hover img{ /* blir färg när man drar musen över */ 
    filter: saturate(1); 
}

.Medlem_Laget-information {
    text-align: center;
    margin-top: 1.4rem; 
}

.Medlem_Laget-information{
    color: var(--color-light);
}

.Medlem_Laget-Sociala{
    position: absolute; 
    top: 50%;
    overflow: hidden;
    right: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}

.Medlem_Laget:hover 
.Medlem_Laget-Sociala {
    right:0; 
}

.Medlem_Laget-Sociala a {
    padding: 1rem; 
}



/*=================== Footer ====================== */

.footer {
    background: var(--color-bg4);
    padding-top: 5rem;
    padding: 2rem;  
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem; 
}

.footer_container > div h4 {
    margin-bottom: 1.2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover {
    text-decoration: underline; 
}

.footer h4 {
    line-height: 2.2;
    font-size: 1rem; 
}


.Permalinks a:hover {
    color: var(--color-success);
    transition: var(--transition); 
}
/*=================== Footer_1 ====================== */

.footer_1 h4 {
    color: var(--color-black);
}
.footer_1 p {
    margin: 0 0 2rem; 
}

/*=================== Footer_2 ====================== */

.footer_2 h4 {
    color: var(--color-black);
}

/*=================== Footer_3 ====================== */

.footer_3 h4 {
    color: var(--color-black);
}

.Privacy li a {
    color: var(--color-success);
}

.Privacy a:hover {
    color: var(--color-success); 
    transition: var(--transition); 
}

/*=================== Footer_4 ====================== */

.footer_4 h4 {
    color: var(--color-black);
}



/* ================== Media Queries Color ====================== */
/* Ändrar färg på sidorna när sidan förminskas */ 

@media only screen and (max-width: 1300px) {
	body {
		background-color: #1f2641;
	}
}

@media only screen and (max-width: 900px) {
	body {
		background-color:#6c63ff;
	}
}

@media only screen and (max-width: 650px) {
	body {
		background-color:forestgreen;
	}
}

/* ================== Media Queries Compabilitiet för andra enheter ====================== */

@media screen and (max-width: 1024px) {
    .container {   
        width: var(--container-width-md);
    }

    h1 {
    font-size: 2.4rem;
    }

    h2 {
    font-size: 1.7rem; 
    }

    h3 {
    font-size: 1.4rem; 
    }

    h4 {
    font-size: 1.2rem; 
}
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }



    
 /*=================== Navbar Media Query ====================== */
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn {
        display: none;
    }

    .nav_menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content; 
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none; 
    }

    .nav_menu li {
        width: 100%;
        height:  5.8rem;  
    }

    .nav_menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav_menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }
}
}
/*=================== Laget Media Query IPAD ====================== */ 
@media screen and (max-width: 600px) {
/*=================== Navbar Media Query IPAD ====================== */
    .nav_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem; 
    }

 /*=================== Header Media Query IPAD ====================== */
    .header_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

/*=================== Kategorier Media Query IPAD ====================== */
    .kategorier_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
/*=================== Historia Media Query IPAD ====================== */
    .Historia_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem; 
    }

/*=================== Faq Media Query IPAD ====================== */
    .faqs_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

/*=================== Laget Media Query IPAD ====================== */

    .Laget_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }   

    .Medlem_Laget {
        padding: 0;
    }

    .Medlem_Laget p {
        margin-bottom: 1.5rem; 
    }
/*=================== Footer Media Query IPAD ====================== */
    .footer_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

}

